.card-game {
  box-sizing: border-box;
  background-size: cover;
  border: 4px solid #fffcee;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 19rem;
}

.card-game img {
  height: 100%;
}
